<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>
   <h3 th:text="${title}"></h3>
<br/>
<form th:action="@{/dataperson/updateperson}" method="POST" th:object="${persons}">
    <table>
        <tr>
            <td>idperson :</td>
            <td><input type="text" name="idperson" th:field="*{idperson}"/></td>
        </tr>
        <tr>
            <td>name :</td>
            <td><input type="text" name="name" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>sex :</td>
            <td><input type="text" name="sex" th:field="*{sex}"/></td>
        </tr>
        <tr>
            <td>adres :</td>
            <td><input type="text" name="adres" th:field="*{adres}"/></td>
        </tr>
        <tr>
            <td>phone :</td>
            <td><input type="text" name="phone" th:field="*{phone}"/></td>
        </tr>
        <tr>
            <td>birthday :</td>
            <td><input type="text" name="birthday" th:field="*{birthday}" readonly=""/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Update"/></td>
        </tr>
    </table>
</form>
</body>
</html>